# venvs / IDE
.venv/
venv/
.env/
.vscode/
.idea/

# python
__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
pip-wheel-metadata/

# data/runs/plots
runs/
*.npz
*.png

# OS cruft
.DS_Store
Thumbs.db

readmes/
